.pb-5{
    background-image: url(https://t3.ftcdn.net/jpg/05/02/10/70/360_F_502107061_JKj0HIYeI2Ag3xNjKCbE2KobpfIURlcX.jpg);
    align-items: center;
}
.fa-square-phone{
    color: black;
}
.col{
    width: 23rem;
}
.app{
    max-width: 600px;
}
.text-overlay{
    font-family: monospace;
    font-weight: bolder;
    font-size: 46px;
    -webkit-text-stroke: 1px black;
   color: white;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}
 #popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
  }
  
  #popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
      width:400px;
      text-align:center;
  }
  #popup-content p{
    background-color: #eaa0a0;
    border-radius: 20px;
    font-size: 25px;
  }
  #popup-content img{
    border-radius: 20px;
  }
  
  #close-btn {
    padding: 10px 20px;
    border-radius: 20px;
  }
footer{
    color: aliceblue;
}

